@import "./variables.scss";
@import "./settings/imports";

html,
body {
  color: var(--color-type-body);
  font-family: var(--base-font-family);
  font-weight: 300;
  line-height: var(--base-font-lineheight);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
input {
  border: none;
}
* {
  box-sizing: border-box;
}
input:active,
input:focus {
  border: none;
  outline: none;
}
.center-text {
  text-align: center;
}
.container {
  max-width: calc(1200px + 40px);
  width: 100%;
  padding: 0 $spacing * 2;
}
.big-text {
  font-size: var(--font-xlarge);
}
.white-text {
  color: var(--secondary-bg);
}
.m-b-2 {
  margin-bottom: $spacing * 2;
}
.m-t-2 {
  margin-top: $spacing * 2;
}
.pad-v-2 {
  padding: $spacing * 2 0;
}
.pad-v-1 {
  padding: $spacing 0;
}
.pad-b-1 {
  padding: $spacing;
}
.pad-h-2 {
  padding: 0 $spacing * 2;
}
.pad-2 {
  padding: $spacing * 2;
}
.pad-h-1 {
  padding: 0 $spacing;
}
.flex-row {
  &.multi {
    margin: 0 $spacing * -1;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  & li {
    list-style: none;
  }
}
.flex {
  display: flex;
  &.between {
    justify-content: space-between;
  }
}
