:root {
  /*
  * Colors
  */
  --primary-green: #76b900;
  --grey-1: #1e1e1e;
  --primary-bg: #000000;
  --secondary-bg: #ffffff;
  --greyish: #afafaf;
  --serach-bar-height: 56px;
  --nav-container-height: 80px;
  /*
  * Fonts
  */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1em;
  --font-small: 16px;
  --font-medium: 20px;
  --font-large: 24px;
  --font-xlarge: 40px;
}
$spacing: 10px;
