@import "../../../theme/variables.scss";
.letter-hexagon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  & svg {
    & path {
      fill: var(--primary-green);
    }
  }
}
span.letter-hexagon-text {
  position: absolute;
  color: var(--primary-bg);

  font-weight: 600;
  font-size: 30px;
}
