@import "../../../theme/variables.scss";

.input-block {
  height: var(--serach-bar-height);
  flex-wrap: nowrap;
  display: flex;
  background-color: var(--secondary-bg);
}
.input-icon-left {
  flex: 0 0 0%;
  padding: 18px;
}
input {
  flex: 1 1 100%;
}
.reset-input-container {
  display: flex;
  flex: 0 0 40px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
