@import "../../../theme/variables.scss";
.collapse {
  &.collapse-opened {
    & i {
      transform: rotate(-180deg);
    }
  }
  & .collapse-inner {
    overflow: hidden;
    transition: height 0.25s ease-out;
  }
  & .collapse-action {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  & i {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease-out;
    will-change: transform;
    transform-origin: center;
    transform: rotate(0deg);
  }
}
